@viewport {
  width: device-width;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 1.2em;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 1.1em;
  /* max-width: 599px; */
}

body {
  margin: 0 auto;
  /* max-width: 599px; */
  /* display: block; */
  /* margin: 0px auto; */
}

h1 {
  text-align: center;
  font-family: "Agbalumo", "Arial", sans-serif;
  letter-spacing: 0.02em;
}

::selection {
  background-color: darkblue;
  color: aliceblue;
}

/* **************************************************** */

main {
  padding: 2px;
  /* max-width: 600px; */
  margin: 0 auto;
  /* width: 100vw;   WARUM?????????????    */
  max-width: 600px;
}

a {
  text-decoration: none;
}
/** header {
  width: 100vw;
}
*/

/* p::first-letter {
  font-size: x-large;
  color: #fff;
  background-color: darkblue;
} */

#header {
  font-size: 2rem;
  position: relative;
}
#header p {
  font-size: 55%;
}
#header h2 {
  font-size: 75%;
}
nav {
  font-family: "Arial", sans-serif;
  background-color: darkblue;
  color: #fff;
  padding: 1rem;
  font-size: 0.52em;
}

nav a {
  color: #fff;
}
nav a:hover {
  color: deepskyblue;
}
menu {
  list-style: none;
  text-align: center;
}
menu li {
  display: inline-block;
  margin-right: 1rem;
  /* display: flex;
  flex-direction: column; */
}

@media screen and (min-width: 600px) {
  nav {
    font-size: 0.6em;
  }

  menu li {
    margin-right: 2rem;
    /* flex-direction: row; */
    /* display: inline-block; */
  }
}

/* @media screen and (min-width: 768px) {
  menu li {
    flex-direction: row;
  }
} */

.subheadline {
  text-align: center;
}

/* .subheadline::after {
  content: " 🫥";
} */

#profile {
  display: flex;
  justify-content: center;
}
.data {
  margin: auto;
  /* width: 20%; UNDERSTAND??? */
  border: none;
  padding: 1rem;
  position: relative;
  /* text-align: center; */
  /* left: 50px; */
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .data {
    background-color: ghostwhite;
  }
}

#mainframe {
  position: relative;
}

#experiences,
#skills,
#contact {
  margin-left: 17px;
  /* position: sticky; */
  font-family: "Arial", sans-serif;
  font-size: larger;
}

a[id="experiences"],
h3 #skills,
h3 #contact {
  position: sticky;
}

#whoami {
  margin-left: 17px;
}

.contact {
  margin: auto;
  width: 22%;
  border: none;
  padding: 10px;
  margin-top: -40px;
}

.traktor {
  margin: 0 auto;
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.traktorname {
  position: absolute;
  top: 253px;
  background-color: darkblue;
  opacity: 0.55;
  font-size: xx-large;
  color: aliceblue;
  padding: 3px 10px;
}

.name {
  color: darkgrey;
}

h3 {
  position: relative;
  /* left: -100px; */
  font-size: xx-large;
}

.badge {
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: crimson;
  background-color: lightpink;
  position: fixed;
  top: 0;
  margin: 0%;
  right: 0;
  padding: 5px;
}

.skills {
  margin-left: 17px;
}

ol {
  margin-left: 10px;
}

.job {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  font-size: 1.2rem;
}

.job i {
  margin-left: 40px;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .job {
    flex-direction: row;
  }
}
