html {
  font-family: monospace;
}
a {
  text-decoration: none;
}
nav {
  font-family: "Arial", sans-serif;
  background-color: darkblue;
  color: #fff;
  padding: 5px;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: deepskyblue;
}
menu {
  list-style: none;
  text-align: center;
}
menu li {
  display: inline-block;
  margin-right: 22px;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
}
.subheadline {
  text-align: center;
}
aside {
  margin: auto;
  width: 20%;
  border: none;
  padding: 10px;
}
main {
  margin: auto 200px;
}
#contact {
  text-align: left;
}
.contact {
  margin: auto;
  width: 18%;
  border: none;
  padding: 10px;
  margin-top: -40px;
}
.traktor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
